<h2 class="title-primary mb-2">Crie uma conta</h2>
<p class="text-sm mb-2">Ja tenho uma <span><%= link_to "conta", new_user_session_path, class: "font-semibold hover:underline decoration-1" %>.</span></p>




<%= form_with model: resource,
                scope: resource_name,
                url: user_registration_path,
                local: true,
                data: { turbo: false, turbo_frame: :_top } do |f| %>

  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="mb-2">
    <%= f.text_field :name,
      placeholder: "Digite seu nome",
      class: "input-primary" %>
  </div>

  <div class="space-y-2">
    <%= f.email_field :email,
      autocomplete: "email",
      placeholder: "Digite seu email",
      class: "input-primary" %>
  </div>

  <div class="space-y-2 mt-2">
      <%= f.password_field :password,
       placeholder: "Digite sua senha (min. #{@minimum_password_length} caract )",
       class: "text-sm input-primary" %>
      <div>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation,
     placeholder: "Confirme sua senha",
     class: "input-primary" %>
  </div>

  <div class="actions">
    <%= f.submit "Confirmar",class: "button-primary" %>
  </div>
<% end %>
