<div class='px-2 py-5 sm:px-6'>
  <%= form_for @bank, url: url, html: { class: 'space-y-2' }, data: { turbo: :false } do |f| %>
    <div class='px-3 mb-2'>
      <%= label_tag :title, 'Titulo', class: 'block text-sm font-medium mb-2 ml-1 text-gray-700' %>
      <%= f.text_field :title,
                        autofocus: true,
                        required: true,
                        class: 'input-form' %>

      <div class="mb-4">
        <%= f.label :category, 'Tipo',
                      class: "block text-sm font-medium mb-2 ml-1 text-gray-700" %>
        <%= f.select :category, { "Entrada" => :entrada, "Saída" => :saída }, { prompt: 'Selecione uma categoria' },
                      class: "select-input" %>
      </div>

      <div class="mb-4">
        <%= f.label :amount,'Quantia', class: "block text-sm font-medium mb-2 ml-1 text-gray-700" %>
        <%= f.number_field :amount, step: "0.01", class: "input-form" %>
      </div>
      <%= link_to "Voltar", banks_path, class:"button-secondary w-full text-center" %>
      <%= f.submit "Concluido", class:"button-primary" %>
    </div>

  <% end %>
</div>
