
<div class="w-full">
  <div class="flex justify-between bg-white items-center rounded-lg p-4 mb-4">
    <div>
      <h1 class="text-4xl font-bold">Caixa 💰</h1>
    </div>
    <div class="flex items-center hidden md:flex">
      <%= link_to "Adicionar nova transação", new_bank_path, class: "bg-black text-white p-2 rounded-lg" %>
      <% if @total_amount > 0 %>
        <h1 class="balance-positive">Total: <%= number_to_currency(@total_amount, unit: 'R$', separator: ',', delimiter: '.', precision: 2) %><h1>
      <% else %>
        <h1 class="balance-negative">Total: <%= number_to_currency(@total_amount, unit: 'R$', separator: ',', delimiter: '.', precision: 2) %><h1>
      <% end %>
    </div>
  </div>

  <div class="w-full space-y-3 block md:hidden">
    <div class="">
      <%= link_to "Adicionar nova transação", new_bank_path, class: "bg-black text-white block md:hidden p-2 rounded-lg text-center" %>
    </div>
    <div class="text-center">
      <% if @total_amount > 0 %>
        <h1 class="balance-positive block">Total: <%= number_to_currency(@total_amount, unit: 'R$', separator: ',', delimiter: '.', precision: 2) %><h1>
      <% else %>
        <h1 class="balance-negative block">Total: <%= number_to_currency(@total_amount, unit: 'R$', separator: ',', delimiter: '.', precision: 2) %><h1>
      <% end %>
    </div>
  </div>
  <div>
    <%= render 'table' %>
  </div>
</div>
