<div class="space-y-2">
  <h2 class="title-primary">Redefinir minha senha</h2>
  <div>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
           <%= f.password_field :password,
            placeholder: "Nova senha (min. #{@minimum_password_length} caract )",
            class: "text-sm input-primary" %>

      <div class="field mt-2">
        <%= f.password_field :password_confirmation,
        placeholder: "Confirmar nova senha (min. #{@minimum_password_length} caract )",
        class: "text-sm input-primary" %>
      </div>

      <div class="flex justify-center">
        <%= f.submit "Mudar minha senha", class: "button-primary" %>
      </div>
    <% end %>
  </div>
</div>
