
<nav class="bg-white shadow-lg m-2 rounded-lg">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2">
  <a class="flex items-center">
    <div class="absolute left-5 self-center font-semibold whitespace-nowrap flex items-center">
      <%= image_tag "logo-pawn.png", class: "h-20" %>
      <h1 class="hidden xl:block ml-2 text-xl text-black font-bold">Associação Novo Caminho</h1>
    </div>
  </a>
  <div class="flex md:order-2">
      <%= button_to destroy_user_session_path, method: :delete, class: "flex items-center mr-2 border border-black rounded-lg p-1.5 hover:bg-gray-100" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
        </svg>
      <% end %>
      <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 text-sm bg-black text-white rounded-lg md:hidden focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-default" aria-expanded="false">
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
      </button>
  </div>
  <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-default">
    <ul class="flex flex-col font-medium p-2 space-y-4 md:space-y-0 lg:p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white md:p-2">
      <li>
        <%= link_to root_path,
          class: "#{inactive_active_class_for(root_path)} p-2 hover:bg-red-500 rounded-lg hover:text-white" do %>
              Inicio
        <% end %>
      </li>
      <li>
        <%= link_to animals_path,
          class: "#{inactive_active_class_for(animals_path)} p-2 hover:bg-red-500 rounded-lg hover:text-white" do %>
              Animais
        <% end %>
      </li>
      <li>
        <%= link_to medicines_path,
          class: "#{inactive_active_class_for(medicines_path)} p-2 hover:bg-red-500 rounded-lg hover:text-white" do %>
              Medicamentos
        <% end %>
      </li>
      <li>
        <%= link_to adoptions_path,
          class: "#{inactive_active_class_for(adoptions_path)} p-2 hover:bg-red-500 rounded-lg hover:text-white" do %>
              Adoção
        <% end %>
      </li>
    </ul>
  </div>
  </div>
</nav>
