<div class="grid grid-cols-2 md:grid-cols-5 gap-6 p-8">
  <% @animals_available.each do |animal| %>
    <div class="rounded-lg bg-white shadow-lg transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-105 duration-300">
      <div class="relative overflow-hidden bg-cover bg-no-repeat h-52">
        <% if animal.photo.present? %>
          <% ActiveStorage::Current.url_options = { host: request.base_url } %>
          <%= image_tag animal.photo.url, class: "rounded-lg" %>
        <% else %>
          <%= image_tag("cachorro-sem-foto.png") %>
        <% end %>
      </div>
      <div class="px-6 mb-3 p-1">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800">
          <%= animal.name %>
        </h5>
        <p class="mb-2 text-base text-neutral-600">
         Sexo: <%= animal.gender.humanize.capitalize %>
        </p>
        <p class="mb-4 text-base text-neutral-600">
         Descricao: <%= animal.description %>
        </p>
        <%= link_to animal_path(animal),
          class: 'button-primary' do %>
          Visualizar
        <% end %>
      </div>
    </div>
  <% end %>
</div>
