<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500">
        <caption class="p-5 text-lg font-semibold text-gray-900 bg-white text-center">
            Fluxo de caixa
            <p class="mt-1 text-sm font-normal text-gray-500 "></p>
        </caption>
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Titulo
                </th>
                <th scope="col" class="px-6 py-3">
                    Tipo
                </th>
                <th scope="col" class="px-6 py-3">
                    Data
                </th>
                <th scope="col" class="px-6 py-3">
                    Quantia
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Editar</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <% @recents.each do |bank| %>
                <tr class="bg-white border-b">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        <%= bank.title %>
                    </th>
                    <td class="px-6 py-4">
                        <%= bank.category.humanize.capitalize %>
                    </td>
                    <td class="px-6 py-4">
                    <%= bank.created_at.strftime("%d/%m/%Y") %>
                    </td>
                    <% if bank.category == 'entrada' %>
                        <td class="px-6 py-4 text-green-500">
                            + <%= number_to_currency(bank.amount) %>
                        </td>
                    <% else %>
                        <td class="px-6 py-4 text-red-500">
                            - <%= number_to_currency(bank.amount) %>
                        </td>
                    <% end %>
                    <td class="px-6 py-4 text-right">
                    <%= link_to edit_bank_path(bank), class: 'font-semibold text-black hover:text-gray-700 hover:underline' do %>
                      Atualizar
                    <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
