<div class="w-full max-h-screen">
  <div class="bg-white rounded-3xl p-8 mb-5">
    <h1 class="text-3xl font-bold mb-10">Bem vindo, <%= current_user.name %></h1>
    <hr class="my-10">
      <%= render 'cards' %>
    <hr class="my-10">
    <div class="grid grid-col gap-4 md:flex hidden md:block">
      <div class="w-1/2">
        <% if @recents.blank? %>
          <%= render 'moneytab' %>
          <p class="text-center text-gray-400 mt-4">Nenhum dado por enquanto.</p>
        <% else %>
          <%= render 'moneytab' %>
        <% end %>
      </div>
      <div class="w-1/2">
        <% if @recent_adoptions.blank? %>
          <%= render 'recent_adoptions' %>
          <p class="text-center text-gray-400 mt-4">Nenhum dado por enquanto.</p>
        <% else %>
          <%= render 'recent_adoptions' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
