<div class='px-2 py-5 sm:px-6'>
    <%= form_for @contact, url: url, html: { class: 'space-y-6' }, data: { turbo: :false } do |f| %>
      <div class='px-3 mb-2'>
        <h1 class="font-semibold mb-4">Dados</h1>
        <%= label_tag :first_name, 'Nome', class: 'block text-sm font-medium mb-2 ml-1 text-gray-700' %>
        <%= f.text_field :first_name,
                          autofocus: true,
                          required: true,
                          class: 'appearance-none block w-full px-3 py-2 border border-gray-300
                                  rounded-md shadow-sm mb-4 placeholder-gray-400 focus:outline-none
                                  focus:ring-orange-400 focus:border-orange-500 sm:text-sm' %>

        <%= label_tag :last_name, 'Sobrenome', class: 'block text-sm font-medium mb-2 ml-1 text-gray-700' %>
        <%= f.text_field :last_name,
                          autofocus: true,
                          required: true,
                          class: 'appearance-none block w-full px-3 py-2 border border-gray-300
                                  rounded-md shadow-sm mb-4 placeholder-gray-400 focus:outline-none
                                  focus:ring-orange-400 focus:border-orange-500 sm:text-sm' %>


        <%= f.label :cpf, 'CPF', class: 'block text-sm font-medium mb-2 ml-1 text-gray-700' %>
        <%= f.text_field :cpf,
                        autofocus: true,
                          class: 'appearance-none block w-full px-3 py-2 border border-gray-300
                          rounded-md shadow-sm mb-4 placeholder-gray-400 focus:outline-none
                          focus:ring-orange-400 focus:border-orange-500 sm:text-sm' %>

        <%= f.label :role, 'Cargo', class: 'block text-sm font-medium mb-2 ml-1 text-gray-700' %>
        <%= f.text_field :role,
                        autofocus: true,
                          class: 'appearance-none block w-full px-3 py-2 border border-gray-300
                          rounded-md shadow-sm mb-4 placeholder-gray-400 focus:outline-none
                          focus:ring-orange-400 focus:border-orange-500 sm:text-sm' %>

        <div class="">
          <h1 class="font-semibold mb-4">Endereço</h1>
            <%= f.fields_for :address do |address_fields| %>
              <%= address_fields.label :street, 'Rua', class: 'block text-sm font-medium mb-2 ml-1 text-gray-700' %>
              <%= address_fields.text_field :street,
                                            autofocus: true,
                                            class: 'appearance-none block w-full px-3 py-2 border border-gray-300
                                            rounded-md shadow-sm mb-4 placeholder-gray-400 focus:outline-none
                                            focus:ring-orange-400 focus:border-orange-500 sm:text-sm' %>

              <%= address_fields.label :number, 'Numero', class: 'block text-sm font-medium mb-2 ml-1 text-gray-700' %>
              <%= address_fields.text_field :number,
                                            autofocus: true,
                                            class: 'appearance-none block w-full px-3 py-2 border border-gray-300
                                            rounded-md shadow-sm mb-4 placeholder-gray-400 focus:outline-none
                                            focus:ring-orange-400 focus:border-orange-500 sm:text-sm' %>

              <%= address_fields.label :city, 'Cidade', class: 'block text-sm font-medium mb-2 ml-1 text-gray-700' %>
              <%= address_fields.text_field :city,
                                            autofocus: true,
                                            class: 'appearance-none block w-full px-3 py-2 border border-gray-300
                                            rounded-md shadow-sm mb-4 placeholder-gray-400 focus:outline-none
                                            focus:ring-orange-400 focus:border-orange-500 sm:text-sm' %>
            <% end %>
        </div>

      <%= f.submit "Concluido", class:"button-primary" %>
        <% if @contact.id.present? %>
          <%= link_to "Voltar", contact_path, class:"button-primary flex" %>
        <% else %>
          <%= link_to "Voltar", contacts_path, class:"button-primary flex" %>
        <% end %>      </div>
    <% end %>
</div>
