<div class='px-2 py-5 sm:px-6'>
  <%= form_for @contact, url: url, html: { class: 'space-y-2' }, data: { turbo: :false } do |f| %>
    <div class='px-3 mb-2'>
      <h1 class="font-semibold mb-4">Dados</h1>
      <%= label_tag :first_name, 'Nome', class: 'block text-sm font-medium mb-2 ml-1 text-gray-700' %>
      <%= f.text_field :first_name,
                        autofocus: true,
                        required: true,
                        class: 'input-form' %>

      <%= label_tag :last_name, 'Sobrenome', class: 'block text-sm font-medium mb-2 ml-1 text-gray-700' %>
      <%= f.text_field :last_name,
                        autofocus: true,
                        required: true,
                        class: 'input-form' %>


      <%= f.label :cpf, 'CPF', class: 'block text-sm font-medium mb-2 ml-1 text-gray-700' %>
      <%= f.text_field :cpf,
                      autofocus: true,
                        class: 'input-form' %>

      <%= f.label :role, 'Cargo', class: 'block text-sm font-medium mb-2 ml-1 text-gray-700' %>
      <%= f.text_field :role,
                      autofocus: true,
                        class: 'input-form' %>
    </div>
    <div>
      <h1 class="font-semibold mb-4">Endereço</h1>
        <%= f.fields_for :address do |address_fields| %>
          <%= address_fields.label :street, 'Rua', class: 'block text-sm font-medium mb-2 ml-1 text-gray-700' %>
          <%= address_fields.text_field :street,
                                        autofocus: true,
                                        class: 'input-form' %>

          <%= address_fields.label :number, 'Numero', class: 'block text-sm font-medium mb-2 ml-1 text-gray-700' %>
          <%= address_fields.text_field :number,
                                        autofocus: true,
                                        class: 'input-form' %>

          <%= address_fields.label :city, 'Cidade', class: 'block text-sm font-medium mb-2 ml-1 text-gray-700' %>
          <%= address_fields.text_field :city,
                                        autofocus: true,
                                        class: 'input-form' %>
        <% end %>
    </div>
      <% if @contact.id.present? %>
        <%= link_to "Voltar", contact_path, class:"button-secondary " %>
      <% else %>
          <%= link_to "Voltar", contacts_path, class:"button-secondary" %>
      <% end %>
      <%= f.submit "Concluido", class:"button-primary" %>
  <% end %>
</div>
