<div class="bg-gray-100">
 <div class="w-full text-white bg-main-color">
    <div class="container mx-auto my-5 p-5">
        <div class="md:flex no-wrap md:-mx-2 ">
            <div class="w-full md:w-3/12 md:mx-2">
                <div class="bg-white p-3 border-t-4 border-green-400">
                    <div class="image overflow-hidden text-black">
                        <%= image_tag("basset.jpg") %>
                    </div>
                    <h1 class="text-gray-900 font-bold text-xl leading-8 my-1"><%= @animal.name %></h1>
                    <p class="text-sm text-gray-500 hover:text-gray-600 leading-6"><%= @animal.description %></p>
                    <ul
                        class="bg-gray-100 text-gray-600 hover:text-gray-700 hover:shadow py-2 px-3 mt-3 divide-y rounded shadow-sm">
                        <li class="flex items-center py-3">
                            <span>Status</span>
                            <span class="ml-auto"><span
                                    class="bg-green-500 py-1 px-2 rounded text-white text-sm">Disponivel</span></span>
                        </li>
                        <li class="flex items-center py-3">
                            <span>Chegou em</span>
                            <span class="ml-auto"><%= @animal.created_at.strftime("%d/%m/%Y") %></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="w-full md:w-9/12 mx-2 h-64">
                <div class="bg-white p-3 shadow-sm rounded-sm">
                    <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8">
                        <span clas="text-green-500">

                        </span>
                        <span class="tracking-wide">Sobre 🐕</span>
                    </div>
                    <div class="text-gray-700">
                        <div class="grid md:grid-cols-2 text-sm">
                            <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold">Nome</div>
                                <div class="px-4 py-2"><%= @animal.name %></div>
                            </div>
                            <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold">Raca</div>
                                <div class="px-4 py-2"><%= @animal.race %></div>
                            </div>
                            <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold">Sexo</div>
                                <div class="px-4 py-2">Macho</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-4"></div>
                <div class="bg-white p-3 shadow-sm rounded-sm">
                    <div class="grid grid-cols-2">
                        <div>
                            <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8 mb-3">
                                <span class="tracking-wide">Medicamentos 💉</span>
                            </div>
                            <ul class="list-inside space-y-2">
                                <li>
                                    <div class="text-teal-600">Dipirona</div>
                                    <div class="text-gray-500 text-xs">12 em 12 horas</div>
                                </li>
                                <li>
                                    <div class="text-teal-600">Anti carrapatos</div>
                                    <div class="text-gray-500 text-xs">1 comprimido por dia</div>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8 mb-3">
                                <span class="tracking-wide">Observacoes 📔</span>
                            </div>
                            <ul class="list-inside space-y-2">
                                <li>
                                    <div class="text-teal-600">Deixar separado do dog porque eles brigam</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
