<h1 class='title-primary'>Login</h1>

<div class="mt-6">
  <%= render "devise/shared/error_messages" %>

  <%= form_with model: resource,
                scope: resource_name,
                url: session_path(resource_name),
                local: true,
                data: { turbo: false, turbo_frame: :_top },
                html: { class: 'space-y-6' }  do |f| %>
    <div>
      <%= f.label :email, class: 'input-label-primary' %>

      <div class="mt-1">
        <%= f.email_field :email,
                          autofocus: true,
                          class: 'input-primary' %>
      </div>
    </div>

    <div class="space-y-1">
      <%= f.label :password, class: 'input-label-primary' %>

      <div class="mt-1">
        <%= f.password_field :password,
                             class: 'input-primary' %>
      </div>
    </div>

    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <%= f.check_box :remember_me, class: 'checkbox-primary' %>
        <%= f.label :remember_me, class: 'checkbox-label' %>
      </div>

      <div class="text-sm">
        <%= link_to "Esqueci minha senha",
                    new_user_password_path,
                    class: "font-medium hover:underline decoration-1" %>
      </div>
    </div>

    <div>
      <div>
        <%= f.submit "Entrar", class: "button-primary" %>
      </div>
      <%= link_to "Registre-se", new_user_registration_path, class: "mt-2 flex justify-center button-secondary" %>
    </div>
  <% end %>
</div>
