<!DOCTYPE html>
<html>
  <head>
    <title>ONG - Novo Caminho</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caprasimo&display=swap" rel="stylesheet">
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-white">
    <%= render 'shared/site-navbar' %>
    <div class="container mx-auto p-12 md:p-32">
      <div class="mb-8 md:mb-0">
        <%= link_to 'Voltar', sites_path, class: "rounded-full py-6 px-2.5 font-bold bg-black text-white" %>
      </div>
      <section class="text-center lg:text-left">
        <div class=" md:px-6 md:px-12">
          <div class="container mx-auto xl:px-32">
            <div class="flex grid items-center lg:grid-cols-2">
              <div class="mb-12 md:mt-12 lg:mt-0 lg:mb-0">
                <div
                  class="relative z-[1] block rounded-lg bg-black text-white px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] backdrop-blur-[25px] dark:shadow-black/20 md:px-12 lg:-mr-14">
                  <h2 class="mb-2 text-3xl font-bold text-primary">
                    <%= @animal.name %>
                  </h2>
                  <p class="mb-4 font-semibold"><%= @animal.race %></p>
                  <p class="mb-6 text-white">
                    <%= @animal.description %>
                  </p>
                  <% if @animal.history.present? %>
                    <p class="mb-6 text-white">
                      <p class="mb-2">História: </p>
                      <%= @animal.history %>
                    </p>
                  <% end %>
                </div>
              </div>
              <div class="md:mb-12 lg:mb-0">
                <% if @animal.photo.present? %>
                  <% ActiveStorage::Current.url_options = { host: request.base_url } %>
                  <%= image_tag @animal.photo.url, class: "lg:rotate-[6deg] w-full rounded-lg shadow-lg dark:shadow-black/20" %>
                <% else %>
                  <%= image_tag("cachorro-sem-foto.png", class: "lg:rotate-[6deg] w-full rounded-lg shadow-lg dark:shadow-black/20") %>
                <% end %>
              </div>
            </div>
            <div class="flex justify-center">
              <div class="mt-6 rounded-lg bg-white shadow-2xl p-4 w-2/3 justify-center text-center">
                <h1 class="text-xl mb-6 mx-auto flex justify-center">Clique aqui para mandar uma mensagem e me adotar!</h1>
                <a href="https://www.instagram.com/direct/t/105792594149632" class="bg-red-500 hover:bg-red-400 font-bold text-white p-6 rounded-lg shadow-lg flex mx-auto justify-center w-2/4">Enviar mensagem</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
 </body>
</html>
